.home-container{
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.scenario-chooser{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

select{
    outline: none;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
}

.btn{
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    border: 1px solid gray;
    border-radius: 20px;
    cursor: pointer;
    
}
.start-simulation{
    color: rgb(35, 145, 8);

}
.kill{
    color: #de0000bd;
    margin-left: 10px;
}
.start-simulation:hover{
    background-color:  rgb(35, 145, 8);
    border: none;
    color: white;
}
.kill:hover{
    color: white;
    border:none;
    background-color: #de0000bd;
}


table{
    width: 100%; 
}

.table-container{
    width: 90%;
}
thead{
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: #333;
}
tbody{
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
th{
    padding: 20px;
}
td{
    text-align: center;
    padding: 15px;
}
tr{
    color: #333;
}

.graph{
    width: 90%;
    height: 550px;
    margin-top: 20px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.vehicles{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 55px;
    border-radius: 50%;
}





.modal-dialog{
    width: 50%;
    min-height: 40vh;
  

    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.wrap {
    padding: 40px;
    text-align: center;
}
hr {
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid #aaaaaa;
}
h1 {
    font-size: 30px;
    margin-bottom: 40px;
}
p {
    margin-bottom: 20px;
}
.save {
    background: #428bca;
    border: #357ebd solid 1px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
    margin-top: 20px;
}
.save:hover {
    background: #357ebd;
}
.save.save-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}
.btn-close {
    color: #010101;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.btn-close:hover {
    color: #919191;
}
.modal:target:before {
    display: none;
}
.modal:before {
    content:"";
    display: block;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.modal .modal-dialog {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fefefe;
    border: #333333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 0;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal:target .modal-dialog {
    top: -100%;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
}
.modal-body {
    padding: 20px;
}
.modal-header, .modal-footer {
    padding: 10px 20px;
}

.modal-header h2 {
    font-size: 20px;
}
.modal-footer {
    border-top: #eeeeee solid 1px;
    text-align: right;
}